input[type=checkbox],
input[type=radio],
.input--checkbox,
.input--radio {
    width: input(height-small);
    height: input(height-small);
    margin-right: input(height-small)/2;
    vertical-align: middle;

    border: 0;
    box-shadow: none;

    -webkit-appearance: none !important;
       -moz-appearance: white();

    &:focus {
        outline: none;

        &:after {
            border-color: input(border-color-focus);
        }
    }

    &:checked {
        &:before {
            transform: scale(1);
        }
    }

    &:after {
        content: '';

        position: absolute;
        top: 0;
        left: 0;
        width: input(height-small);
        height: input(height-small);
        overflow: hidden;

        background: white();
        border: input(border-width) input(border-color) solid;
        box-shadow: input(box-shadow);
    }

    &:before {
        position: absolute;
        z-index: 2;

        transform: scale(0);
        transition: transform .1s;
    }
}

input[type=checkbox],
.input--checkbox {
    &:after {
        border-radius: input(border-radius);
    }

    &:before {
        @include font-icons;

        content: '\e804'; //ok

        font-size: font-size(m);
        line-height: input(height-small);

        width: 100%;

        color: input(mark-color);

        text-align: center;
    }
}

input[type=radio],
.input--radio {
    &:after {
        border-radius: 100%;
    }

    &:before {
        content: '';

        top: 4px;
        right: 4px;
        bottom: 4px;
        left: 4px;

        background: input(mark-color);
        border-radius: 100%;
    }
}
