input,
.input {
    @include font-sans;

    box-sizing: border-box;
    height: input(height);
    padding: 0 input(padding);

    color: blue(darkest);
    background: white();
    border: input(border-width) input(border-color) solid;
    border-radius: input(border-radius);
    box-shadow: input(box-shadow);

    transition: border-color .1s linear;

    @include form-placeholder() {
        color: gray(lighter);
    }
    @include form-placeholder(':focus') {
        color: white(0);
    }

    &:focus {
        border-color: input(border-color-focus) !important;
        outline: 0;
    }
}
