ol,
ul {
    line-height: line-height();

    margin: 0;
    padding-left: 1.5em;

    & ul,
    & ol {
        margin-bottom: .5em;
    }
}

li {
    line-height: line-height();
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: .75em;
    padding-bottom: .75em;

    border-bottom: dotted 1px gray(darkest);
}
