ol,
ul {
  line-height: line-height();
  margin: 0;
  padding-left: 1.5em;

  & ul,
  & ol {
    margin-bottom: .5em;
  }
}

li {
  line-height: line-height();
}

dt {
  font-weight: bold;
}

dd {
  border-bottom: dotted 1px gray(darkest);
  margin-bottom: .75em;
  padding-bottom: .75em;
}
