select,
.select {
    font-size: 1em;

    height: input(height);
    padding: 0 input(height-small) 0 input(padding);

    background: white();
    border: input(border-color) input(border-width) solid;
    border-radius: input(border-radius);

    text-overflow: '';

    -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
            appearance: none;

    &::-ms-expand {
        display: none;
    }

    &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
    }

    &:focus {
        border-color: input(border-color-focus);
        outline: none !important;
    }
}

.select__wrapper {
    display: inline-block;

    background: transparent;
    border-radius: input(border-radius);
    box-shadow: input(box-shadow);

    &:before {
        @include font-icons;

        content: '\e81d';

        line-height: input(height);

        position: absolute;
        top: input(border-width);
        right: input(border-width);
        bottom: input(border-width);
        width: input(height-small);
        height: auto;
        z-index: 1;

        color: input(border-color);
        background: white();

        text-align: center;

        pointer-events: none;
    }

    &:hover {
        &:before {
            color: input(border-color-focus);
        }
    }
}
