@charset "UTF-8";

// Vendor components - specify NPM dependency path in gulpfile
@import 'susy/sass/susy';
@import 'blender-media/css/media';
@import 'normalize-css/normalize';
@import 'datatables/media/css/jquery.dataTables';
@import 'jquery-confirm/css/jquery-confirm';
@import 'select2/dist/css/select2';
@import 'react-select/dist/default';

// Settings
@import 'settings/settings';
@import 'settings/typography';

// Utilities
@import 'utility/functions';
@import 'utility/mixins';

// Helpers
@import 'helpers/align';
@import 'helpers/states';
@import 'helpers/text';

// Layout
@import 'layout/html-tag';
@import 'layout/menu';
@import 'layout/main';
@import 'layout/footer';

// Components aka widgets aka blocks
@import 'components/alert';
@import 'components/breadcrumbs';
@import 'components/button';
@import 'components/chart';
@import 'components/form';
@import 'components/locationpicker';
@import 'components/grid';
@import 'components/avatar';
@import 'components/help';
@import 'components/pagination';
@import 'components/parts';
@import 'components/progress';
@import 'components/statistics';
@import 'components/table';


// Vendor css or overrides
@import 'vendor-custom/confirm';
@import 'vendor-custom/datatables';
@import 'vendor-custom/datetimepicker';
@import 'vendor-custom/fileupload';
@import 'vendor-custom/font-awesome';
@import 'vendor-custom/redactor';
@import 'vendor-custom/select2';
@import 'vendor-custom/modal';

// Blender modules
@import 'views/auth';






