# DEV
.env
.idea
_ide_helper*.php
.phpstorm.meta.php

# BACK END
/vendor
/database/seeds/data/~$fragments*.xlsx

# FRONT END
/node_modules
/npm-debug.log
/yarn-error.log
/public/build
/resources/assets/css
/public/css
/public/js
/public/doc/sass
/public/media

# REMOVE THIS LINE IN PROJECTS
/resources/assets/js/back/redactor
