* {
  position: relative;
  box-sizing: inherit;
  color: inherit;
  font-weight: inherit;
  font-family: inherit;
  line-height: inherit;
}

*:after,
*:before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

.a--link {
  border-bottom: solid 0.08em rgba(0, 128, 200, 0.25);
  color: #0080c8;
  text-decoration: none;
  -webkit-transition: .3s color linear, .3s border-color linear;
  transition: .3s color linear, .3s border-color linear;
}

.a--link:hover {
  border-bottom: solid 0.08em rgba(0, 105, 172, 0.25);
  color: #0069ac;
  text-decoration: none;
  -webkit-transition: .3s color linear, .3s border-color linear;
  transition: .3s color linear, .3s border-color linear;
}

.a--link:active {
  border-bottom: solid 0.08em rgba(0, 105, 172, 0.25);
  color: #0069ac;
  text-decoration: none;
  -webkit-transition: .3s color linear, .3s border-color linear;
  transition: .3s color linear, .3s border-color linear;
}

.a--link:visited {
  border-bottom: solid 0.08em rgba(0, 128, 200, 0.25);
  color: #0080c8;
  text-decoration: none;
  -webkit-transition: .3s color linear, .3s border-color linear;
  transition: .3s color linear, .3s border-color linear;
}

button,
.button,
.button--primary,
.nav__list a,
.button--secondary,
.button--success,
.button--warning,
.button--danger {
  display: inline-block;
  padding: 0 1.25em;
  min-height: 2.5em;
  border: transparent 2px solid;
  border-radius: 3px;
  background-color: #bbb3ac;
  color: #5e5c58;
  vertical-align: middle;
  font-weight: 700;
  font-style: inherit;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 2.5em;
  -webkit-transition: border-color .1s linear;
  transition: border-color .1s linear;
}

button:hover,
.button:hover,
.button--primary:hover,
.nav__list a:hover,
.button--secondary:hover,
.button--success:hover,
.button--warning:hover,
.button--danger:hover {
  background-color: #bab2ab;
}

button:focus,
.button:focus,
.button--primary:focus,
.nav__list a:focus,
.button--secondary:focus,
.button--success:focus,
.button--warning:focus,
.button--danger:focus {
  outline: 0;
  border-color: #2cb0de !important;
}

button:active,
.button:active,
.button--primary:active,
.nav__list a:active,
.button--secondary:active,
.button--success:active,
.button--warning:active,
.button--danger:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

button.-rounded,
.button.-rounded,
.-rounded.button--primary,
.nav__list a.-rounded,
.-rounded.button--secondary,
.-rounded.button--success,
.-rounded.button--warning,
.-rounded.button--danger {
  border-radius: 2.5em;
}

button.-stretched,
.button.-stretched,
.-stretched.button--primary,
.nav__list a.-stretched,
.-stretched.button--secondary,
.-stretched.button--success,
.-stretched.button--warning,
.-stretched.button--danger {
  width: 100%;
}

.button--primary,
.nav__list a {
  background-color: #0080c8;
  color: white;
}

.button--primary:hover,
.nav__list a:hover {
  background-color: #007fc6;
}

.button--secondary {
  background-color: #047ac5;
  color: white;
}

.button--secondary:hover {
  background-color: #0479c4;
}

.button--success {
  background-color: #93c01c;
  color: white;
}

.button--success:hover {
  background-color: #92bf1c;
}

.button--warning {
  background-color: #ff6700;
  color: white;
}

.button--warning:hover {
  background-color: #fd6600;
}

.button--danger {
  background-color: #e83134;
  color: white;
}

.button--danger:hover {
  background-color: #e83033;
}

h1,
h2,
h3 {
  margin: 0;
  line-height: 1.1;
  text-rendering: optimizeLegibility;
}

html {
  box-sizing: border-box;
  min-height: 100vh;
  color: #1a1e25;
  font-weight: 400;
  font-style: inherit;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: subpixel-antialiased;
}

@media (max-width: 1400px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 12px;
  }
}

.html--stretched {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.html--stretched body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.html--stretched .header,
.html--stretched .footer {
          flex-grow: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
  -ms-flex-negative: 0;
}

.html--stretched .main {
          flex-grow: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

input,
.input,
textarea {
  padding: 0 0.75em;
  max-width: 100%;
  width: 100%;
  height: 2.5em;
  border: 2px #d8ccc6 solid;
  border-radius: 3px;
  background: white;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.05);
  color: #1a1e25;
  -webkit-transition: border-color .1s linear;
  transition: border-color .1s linear;
}

::-webkit-input-placeholder {
  color: #d8ccc6;
}

:-moz-placeholder {
  color: #d8ccc6;
}

::-moz-placeholder {
  color: #d8ccc6;
}

:-ms-input-placeholder {
  color: #d8ccc6;
}

:focus::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0);
}

:focus:-moz-placeholder {
  color: rgba(255, 255, 255, 0);
}

:focus::-moz-placeholder {
  color: rgba(255, 255, 255, 0);
}

:focus:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0);
}

input:hover,
.input:hover,
textarea:hover {
  border-color: #bbb3ac;
}

input:focus,
.input:focus,
textarea:focus {
  outline: 0;
  border-color: #2cb0de;
}

input.-invalid,
.input.-invalid,
textarea.-invalid {
  border-color: #e83134;
}

input.-invalid:hover,
input.-invalid:focus,
.input.-invalid:hover,
textarea.-invalid:hover,
.input.-invalid:focus,
textarea.-invalid:focus {
  border-color: #a32324;
}

input[type=checkbox],
input[type=radio],
.input--checkbox,
.input--radio {
  margin-right: 0.75em;
  width: 1.5em;
  height: 1.5em;
  border: 0;
  box-shadow: none;
  vertical-align: middle;
  -webkit-appearance: none !important;
  -moz-appearance: white;
}

input[type=checkbox]:hover:after,
input[type=radio]:hover:after,
.input--checkbox:hover:after,
.input--radio:hover:after {
  border-color: #bbb3ac;
}

input[type=checkbox]:focus,
input[type=radio]:focus,
.input--checkbox:focus,
.input--radio:focus {
  outline: none;
}

input[type=checkbox]:focus:after,
input[type=radio]:focus:after,
.input--checkbox:focus:after,
.input--radio:focus:after {
  border-color: #2cb0de;
}

input[type=checkbox]:checked:before,
input[type=radio]:checked:before,
.input--checkbox:checked:before,
.input--radio:checked:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

input[type=checkbox]:after,
input[type=radio]:after,
.input--checkbox:after,
.input--radio:after {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 1.5em;
  height: 1.5em;
  border: 2px #d8ccc6 solid;
  background: white;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.05);
  content: '';
}

input[type=checkbox]:before,
input[type=radio]:before,
.input--checkbox:before,
.input--radio:before {
  position: absolute;
  z-index: 2;
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

input[type=checkbox]:after,
.input--checkbox:after {
  border-radius: 3px;
}

input[type=checkbox]:before,
.input--checkbox:before {
  width: 100%;
  color: #0080c8;
  content: '\e804';
  text-align: center;
  font-style: inherit;
  font-size: 1.35rem;
  font-family: fontello;
  line-height: 1.5em;
}

input[type=radio]:after,
.input--radio:after {
  border-radius: 100%;
}

input[type=radio]:before,
.input--radio:before {
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  border-radius: 100%;
  background: #0080c8;
  content: '';
}

label,
.label,
.label--checkbox,
.label--required {
  display: block;
  margin-bottom: 0.5rem;
}

.label--checkbox {
  display: block;
  margin-bottom: 1rem;
}

.label--required:after {
  content: '*';
}

ol,
ul {
  margin: 0;
  padding-left: 0;
  line-height: 1.5;
}

li {
  line-height: 1.5;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .75em;
  padding-bottom: .75em;
}

p {
  margin: 0 0 1em;
}

blockquote {
  display: block;
  margin: 0 0 1rem;
  padding: 0;
}

blockquote p {
  margin: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}

q,
cite {
  font-style: italic;
}

.select {
  display: inline-block;
  border-radius: 3px;
  background: transparent;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.05);
}

.select:before {
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  z-index: 10;
  width: 1.5em;
  height: auto;
  background: white;
  color: #d8ccc6;
  content: '\25bc';
  text-align: center;
  line-height: calc( 2.5em - .25em);
  pointer-events: none;
}

.select:hover:before {
  color: #bbb3ac;
}

.select select {
  padding: 0 1.5em 0 0.75em;
  height: 2.5em;
  border: #d8ccc6 2px solid;
  border-radius: 3px;
  background: white;
  text-overflow: '';
  font-size: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

.select select::-ms-expand {
  display: none;
}

.select select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #2cb0de;
}

.select select:focus {
  outline: none !important;
  border-color: #2cb0de;
}

strong,
b {
  font-weight: 700;
  font-style: inherit;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

strong em,
strong i,
i strong,
em strong,
b em,
b i,
i
b,
em
b {
  font-style: italic;
}

em,
i {
  font-style: italic;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #9f978f;
  cursor: help;
}

address {
  display: inline-block;
  margin-bottom: 1.5em;
  padding: 1em;
}

code,
kbd,
samp,
var {
  display: inline-block;
  padding: .05em .5em;
  border-radius: 3px;
  background: #f5eef3;
  color: #252323;
  font-weight: 400;
  font-style: inherit;
  font-family: Consolas, "courier new", courier, monospace;
}

del {
  text-decoration: line-through;
}

ins,
mark {
  display: inline-block;
  padding: 0 .25em;
  border-radius: 3px;
  background-color: #fff2e0;
  color: #422c00;
  text-decoration: none;
}

pre {
  padding: 1.5em;
  border-top: 1px dotted #252323;
  border-bottom: 1px dotted #252323;
}

sub,
sup {
  vertical-align: baseline;
  line-height: 0;
}

sub {
  top: .5ex;
}

sup {
  bottom: 1ex;
}

textarea {
  min-height: 10em;
}

@media (max-width: 410px) {
  .h-above-xs {
    display: none !important;
  }
}

@media (max-width: 800px) {
  .h-above-s {
    display: none !important;
  }
}

@media (max-width: 1000px) {
  .h-above-m {
    display: none !important;
  }
}

@media (max-width: 1400px) {
  .h-above-l {
    display: none !important;
  }
}

@media (min-width: 410px) {
  .h-below-xs {
    display: none !important;
  }
}

@media (min-width: 800px) {
  .h-below-s {
    display: none !important;
  }
}

@media (min-width: 1000px) {
  .h-below-m {
    display: none !important;
  }
}

@media (min-width: 1400px) {
  .h-below-l {
    display: none !important;
  }
}

.h-align-left {
  text-align: left;
}

.h-align-right {
  text-align: right;
}

.h-align-center {
  text-align: center;
}

.h-block-reset {
  display: block !important;
  float: none !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
  width: 100% !important;
  -webkit-transform: none !important;
          transform: none !important;
}

.h-block-cover {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.h-block-clearfix {
  zoom: 1;
}

.h-block-clearfix:before,
.h-block-clearfix:after {
  display: table;
  content: '';
}

.h-block-clearfix:after {
  clear: both;
}

.h-block {
  display: block;
}

.h-block-inline {
  display: inline-block;
}

.h-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.h-center-horizontal {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.h-center-vertical {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.h-float-right {
  z-index: 10;
  float: right;
}

.h-float-left {
  z-index: 10;
  float: left;
}

.h-float-none {
  float: none;
}

.h-hidden {
  display: none !important;
  visibility: hidden;
}

.h-hidden-invisible {
  visibility: hidden;
}

.h-hidden-transparent {
  opacity: 0;
  pointer-events: none;
}

.h-interaction-clickable {
  cursor: pointer;
}

.h-interaction-unselectable {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

.h-list-horizontal {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.h-list-horizontal li {
  display: inline-block;
}

.h-list-clean {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.h-margin {
  margin: 1rem !important;
}

.h-margin-none {
  margin: 0 !important;
}

.h-margin-small {
  margin: 0.75rem !important;
}

.h-margin-medium {
  margin: 2rem !important;
}

.h-margin-large {
  margin: 4rem !important;
}

.h-margin-left {
  margin-left: 1rem !important;
}

.h-margin-left-none {
  margin-left: 0 !important;
}

.h-margin-left-small {
  margin-left: 0.75rem !important;
}

.h-margin-left-medium {
  margin-left: 2rem !important;
}

.h-margin-left-large {
  margin-left: 4rem !important;
}

.h-margin-right {
  margin-right: 1rem !important;
}

.h-margin-right-none {
  margin-right: 0 !important;
}

.h-margin-right-small {
  margin-right: 0.75rem !important;
}

.h-margin-right-medium {
  margin-right: 2rem !important;
}

.h-margin-right-large {
  margin-right: 4rem !important;
}

.h-margin-horizontal {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.h-margin-horizontal-none {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.h-margin-horizontal-small {
  margin-right: 0.75rem !important;
  margin-left: 0.75rem !important;
}

.h-margin-horizontal-medium {
  margin-right: 2rem !important;
  margin-left: 2rem !important;
}

.h-margin-horizontal-large {
  margin-right: 4rem !important;
  margin-left: 4rem !important;
}

.h-margin-top {
  margin-top: 1rem !important;
}

.h-margin-top-none {
  margin-top: 0 !important;
}

.h-margin-top-small {
  margin-top: 0.75rem !important;
}

.h-margin-top-medium {
  margin-top: 2rem !important;
}

.h-margin-top-large {
  margin-top: 4rem !important;
}

.h-margin-bottom {
  margin-bottom: 1rem !important;
}

.h-margin-bottom-none {
  margin-bottom: 0 !important;
}

.h-margin-bottom-small {
  margin-bottom: 0.75rem !important;
}

.h-margin-bottom-medium {
  margin-bottom: 2rem !important;
}

.h-margin-bottom-large {
  margin-bottom: 4rem !important;
}

.h-margin-vertical {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.h-margin-vertical-none {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.h-margin-vertical-small {
  margin-top: 0.75rem !important;
  margin-bottom: 0.75rem !important;
}

.h-margin-vertical-medium {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.h-margin-vertical-large {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.h-padding {
  padding: 1rem !important;
}

.h-padding-none {
  padding: 0 !important;
}

.h-padding-small {
  padding: 0.75rem !important;
}

.h-padding-medium {
  padding: 2rem !important;
}

.h-padding-large {
  padding: 4rem !important;
}

.h-padding-left {
  padding-left: 1rem !important;
}

.h-padding-left-none {
  padding-left: 0 !important;
}

.h-padding-left-small {
  padding-left: 0.75rem !important;
}

.h-padding-left-medium {
  padding-left: 2rem !important;
}

.h-padding-left-large {
  padding-left: 4rem !important;
}

.h-padding-right {
  padding-right: 1rem !important;
}

.h-padding-right-none {
  padding-right: 0 !important;
}

.h-padding-right-small {
  padding-right: 0.75rem !important;
}

.h-padding-right-medium {
  padding-right: 2rem !important;
}

.h-padding-right-large {
  padding-right: 4rem !important;
}

.h-padding-horizontal {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.h-padding-horizontal-none {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.h-padding-horizontal-small {
  padding-right: 0.75rem !important;
  padding-left: 0.75rem !important;
}

.h-padding-horizontal-medium {
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}

.h-padding-horizontal-large {
  padding-right: 4rem !important;
  padding-left: 4rem !important;
}

.h-padding-top {
  padding-top: 1rem !important;
}

.h-padding-top-none {
  padding-top: 0 !important;
}

.h-padding-top-small {
  padding-top: 0.75rem !important;
}

.h-padding-top-medium {
  padding-top: 2rem !important;
}

.h-padding-top-large {
  padding-top: 4rem !important;
}

.h-padding-bottom {
  padding-bottom: 1rem !important;
}

.h-padding-bottom-none {
  padding-bottom: 0 !important;
}

.h-padding-bottom-small {
  padding-bottom: 0.75rem !important;
}

.h-padding-bottom-medium {
  padding-bottom: 2rem !important;
}

.h-padding-bottom-large {
  padding-bottom: 4rem !important;
}

.h-padding-vertical {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.h-padding-vertical-none {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.h-padding-vertical-small {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}

.h-padding-vertical-medium {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.h-padding-vertical-large {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.h-text-small {
  font-size: 0.85rem;
}

.h-text-large {
  font-size: 1.8rem;
}

.h-text-uppercase {
  text-transform: uppercase;
}

.h-text-super {
  top: -.35em;
  font-size: 0.65rem;
}

.h-text-sub {
  top: .35em;
  font-size: 0.65rem;
}

.h-text-clean {
  border: 0;
  text-decoration: none;
  text-transform: none;
}

.h-text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.h-text-hyphens {
  hypens: auto;
}

.h-text-no-hyphens {
  hypens: none;
}

.h-text-no-break {
  white-space: nowrap;
}

.alerts {
  margin: 1rem;
}

.alerts:empty {
  display: none;
}

.alerts--docked {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  margin: 0;
  width: 100%;
  text-align: center;
}

.alerts--docked .alert,
.alerts--docked .alert--info,
.alerts--docked .alert--success,
.alerts--docked .alert--warning,
.alerts--docked .alert--error,
.alerts--docked
.alert--danger {
  margin: 0;
}

.alerts__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: inherit;
}

.alert,
.alert--info,
.alert--success,
.alert--warning,
.alert--error,
.alert--danger {
  padding: 1rem;
}

.alert + .alert,
.alert--info + .alert,
.alert--success + .alert,
.alert--warning + .alert,
.alert--error + .alert,
.alert--danger + .alert,
.alert + .alert--info,
.alert--info + .alert--info,
.alert--success + .alert--info,
.alert--warning + .alert--info,
.alert--error + .alert--info,
.alert--danger + .alert--info,
.alert + .alert--success,
.alert--info + .alert--success,
.alert--success + .alert--success,
.alert--warning + .alert--success,
.alert--error + .alert--success,
.alert--danger + .alert--success,
.alert + .alert--warning,
.alert--info + .alert--warning,
.alert--success + .alert--warning,
.alert--warning + .alert--warning,
.alert--error + .alert--warning,
.alert--danger + .alert--warning,
.alert + .alert--error,
.alert--info + .alert--error,
.alert--success + .alert--error,
.alert--warning + .alert--error,
.alert--error + .alert--error,
.alert--danger + .alert--error,
.alert +
.alert--danger,
.alert--info +
.alert--danger,
.alert--success +
.alert--danger,
.alert--warning +
.alert--danger,
.alert--error +
.alert--danger,
.alert--danger +
.alert--danger {
  margin-top: 1rem;
}

.alert:empty,
.alert--info:empty,
.alert--success:empty,
.alert--warning:empty,
.alert--error:empty,
.alert--danger:empty {
  display: none;
}

.alert.-small,
.-small.alert--info,
.-small.alert--success,
.-small.alert--warning,
.-small.alert--error,
.-small.alert--danger {
  padding: 0.75rem;
  font-size: 0.85rem;
}

.alert.-medium,
.-medium.alert--info,
.-medium.alert--success,
.-medium.alert--warning,
.-medium.alert--error,
.-medium.alert--danger {
  padding: 0.75rem;
  font-size: 1.35rem;
}

.alert.-large,
.-large.alert--info,
.-large.alert--success,
.-large.alert--warning,
.-large.alert--error,
.-large.alert--danger {
  padding: 0.75rem;
  font-size: 1.8rem;
}

.alert--info {
  background: #e6f5ff;
  color: #047ac5;
}

.alert--success {
  background: #d7e8aa;
  color: #79a01c;
}

.alert--warning {
  background: #ffbb05;
  color: white;
}

.alert--error,
.alert--danger {
  background: #fcebec;
  color: #e83134;
}

/*! Avalanche | MIT License | @colourgarden */

/*------------------------------------*    SETTINGS
\*------------------------------------*/

/*------------------------------------*    LOGIC aka THE MAGIC
\*------------------------------------*/

/*------------------------------------*    GRID LAYOUT
\*------------------------------------*/

.grid {
  display: block;
  margin: 0;
  margin-left: -2rem;
  padding: 0;
  list-style: none;
  font-size: 0rem;
}

.grid__cell {
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-left: 2rem;
  width: 100%;
  vertical-align: top;
  font-size: 1rem;
}

.grid.-center {
  text-align: center;
}

.grid.-center > .grid__cell {
  text-align: left;
}

.grid__cell.-center {
  display: block;
  margin: 0 auto;
}

.grid.-right {
  text-align: right;
}

.grid.-right > .grid__cell {
  text-align: left;
}

.grid.-middle > .grid__cell {
  vertical-align: middle;
}

.grid.-bottom > .grid__cell {
  vertical-align: bottom;
}

.grid.-flush {
  margin-left: 0;
}

.grid.-flush > .grid__cell {
  padding-left: 0;
}

.grid.-auto > .grid__cell {
  width: auto;
}

.grid.-rev {
  direction: rtl;
}

.grid.-rev > .grid__cell {
  direction: ltr;
}

/*------------------------------------*    GRID WIDTHS
\*------------------------------------*/

.-width-1\/2,
.-width-2\/4,
.-width-3\/6 {
  width: 50%;
}

.-width-1\/3,
.-width-2\/6 {
  width: 33.33333333%;
}

.-width-2\/3,
.-width-4\/6 {
  width: 66.66666667%;
}

.-width-1\/4 {
  width: 25%;
}

.-width-3\/4 {
  width: 75%;
}

.-width-1\/5 {
  width: 20%;
}

.-width-2\/5 {
  width: 40%;
}

.-width-3\/5 {
  width: 60%;
}

.-width-4\/5 {
  width: 80%;
}

.-width-1\/6 {
  width: 16.66666667%;
}

.-width-5\/6 {
  width: 83.33333333%;
}

@media (min-width: 800px) {
  .-width-1\/2--s,
  .-width-2\/4--s,
  .-width-3\/6--s {
    width: 50%;
  }

  .-width-1\/3--s,
  .-width-2\/6--s {
    width: 33.33333333%;
  }

  .-width-2\/3--s,
  .-width-4\/6--s {
    width: 66.66666667%;
  }

  .-width-1\/4--s {
    width: 25%;
  }

  .-width-3\/4--s {
    width: 75%;
  }

  .-width-1\/5--s {
    width: 20%;
  }

  .-width-2\/5--s {
    width: 40%;
  }

  .-width-3\/5--s {
    width: 60%;
  }

  .-width-4\/5--s {
    width: 80%;
  }

  .-width-1\/6--s {
    width: 16.66666667%;
  }

  .-width-5\/6--s {
    width: 83.33333333%;
  }
}

@media (min-width: 1000px) {
  .-width-1\/2--m,
  .-width-2\/4--m,
  .-width-3\/6--m {
    width: 50%;
  }

  .-width-1\/3--m,
  .-width-2\/6--m {
    width: 33.33333333%;
  }

  .-width-2\/3--m,
  .-width-4\/6--m {
    width: 66.66666667%;
  }

  .-width-1\/4--m {
    width: 25%;
  }

  .-width-3\/4--m {
    width: 75%;
  }

  .-width-1\/5--m {
    width: 20%;
  }

  .-width-2\/5--m {
    width: 40%;
  }

  .-width-3\/5--m {
    width: 60%;
  }

  .-width-4\/5--m {
    width: 80%;
  }

  .-width-1\/6--m {
    width: 16.66666667%;
  }

  .-width-5\/6--m {
    width: 83.33333333%;
  }
}

@media (min-width: 1400px) {
  .-width-1\/2--l,
  .-width-2\/4--l,
  .-width-3\/6--l {
    width: 50%;
  }

  .-width-1\/3--l,
  .-width-2\/6--l {
    width: 33.33333333%;
  }

  .-width-2\/3--l,
  .-width-4\/6--l {
    width: 66.66666667%;
  }

  .-width-1\/4--l {
    width: 25%;
  }

  .-width-3\/4--l {
    width: 75%;
  }

  .-width-1\/5--l {
    width: 20%;
  }

  .-width-2\/5--l {
    width: 40%;
  }

  .-width-3\/5--l {
    width: 60%;
  }

  .-width-4\/5--l {
    width: 80%;
  }

  .-width-1\/6--l {
    width: 16.66666667%;
  }

  .-width-5\/6--l {
    width: 83.33333333%;
  }
}

.layout {
  margin: 0 auto;
  padding: 2rem;
  max-width: 75rem;
}

.layout.-left {
  margin-left: 0;
}

.layout.-right {
  margin-right: 0;
}

.banner {
  width: 100vw;
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.article {
  padding: 0.75rem 0;
}

.article.has-html h1,
.article.has-html h2,
.article.has-html h3 {
  margin-bottom: .5em;
  font-weight: 700;
  font-style: inherit;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.article.has-html .p--intro {
  font-size: 1.35rem;
}

.article.has-html a {
  border-bottom: solid 0.08em rgba(0, 128, 200, 0.25);
  color: #0080c8;
  text-decoration: none;
  -webkit-transition: .3s color linear, .3s border-color linear;
  transition: .3s color linear, .3s border-color linear;
}

.article.has-html a:hover {
  border-bottom: solid 0.08em rgba(0, 105, 172, 0.25);
  color: #0069ac;
  text-decoration: none;
  -webkit-transition: .3s color linear, .3s border-color linear;
  transition: .3s color linear, .3s border-color linear;
}

.footer {
  background-color: #f5eef3;
}

.form__group {
  margin-bottom: 1em;
}

.header {
  background-color: #f5eef3;
}

.nav {
  font-weight: 700;
  font-style: inherit;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.nav__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.nav__list li {
  display: inline-block;
}