.article {
    padding: gutter(s) 0;

    &.has-html {
        h1 {
            margin-bottom: .5em;
        }

        p {
            font-size: font-size();

            margin-bottom: 1em;
        }

        .p--intro {
            font-size: font-size(m);
        }

        a {
            @include text-underline(link-color());

            &:hover {
                @include text-underline(link-color(hover));
            }
        }
    }
}
