.article {
  padding: gutter(s) 0;

  &.has-html {
    h1 {
      margin-bottom: .5em;
    }

    p {
      font-size: font-size(m);
      margin-bottom: 1em;
    }

    a {
      @include text-underline(color($link));

      &:hover {
        @include text-underline(color($link, hover));
      }
    }
  }
}

.article__intro {
  font-size: font-size(m);
}
