.nav {
    @include font-sans-bold;
}

.nav__list {
    @include list-horizontal;

    a {
        padding: .65em 1em;
        vertical-align: middle;

        color: blue(darker);
        background: white();
        border-radius: 3px;
    }
}
