$color: (
    black: #000,
    white: #fff,
    text: #1a1e25
);
$red: (
    lightest: #fcebec,
    lighter: #e69a9c,
    light: #f16a73,
    default: #e83134,
    dark: #a32324,
    darker: #63010e,
    darkest: #3d0109,
);
$orange: (
    lightest: #ffe5ca,
    lighter: #f5b180,
    light: #e77636,
    default: #ff6700,
    dark: #c83f08,
    darker: #581902,
    darkest: #391102,
);
$yellow: (
    lightest: #fff2e0,
    lighter: #f7e5a1,
    light: #ffc853,
    default: #ffbb05,
    dark: #d98e00,
    darker: #734d00,
    darkest: #422c00,
);
$blue: (
    lightest: #e6f5ff,
    lighter: #8bcdff,
    light: #2cb0de,
    default: #0080c8,
    dark: #047ac5,
    darker: #024271,
    darkest: #00284f,
);
$green: (
    lightest: #d7e8aa,
    lighter: #c8dd7f,
    light: #afd835,
    default: #93c01c,
    dark: #79a01c,
    darker: #236510,
    darkest: #0c3c05,
);
$gray: (
    lightest: #f5eef3,
    lighter: #d8ccc6,
    light: #bbb3ac,
    default: #9f978f,
    dark: #5e5c58,
    darker: #464542,
    darkest: #252323,
);
$link-color: (
    default: #0080c8,
    hover: #0069ac,
    active: #0069ac,
    visited: #0080c8
);
$social-color: (
    twitter: #55acee,
    facebook: #3b5999,
    youtube: #cd201f,
    pinterest: #c92228,
    flickr: #ff0084
);
