$breakpoints-horizontal: (
    s: (800px),
    m: (1025px),
    l: (1400px),
);
$z-indexes: (
    'modal': 5000,
    'toolbar': 2000,
    'fixed': 500,
    'above': 10,
    'default': 1,
    'below': -1,
);
$border-radius: (
    s: 3px,
    default: 5px,
    m: 7px,
    l: 11px,
    xl: 21px,
);
$gutters: (
    xs: 1.5rem,
    s: 2rem,
    default: 3rem,
    m: 6rem,
    l: 12rem,
    xl: 15rem
);
$inputs: (
    height: 2.5em,
    height-small: 1.5em,
    border-width: 2px,
    border-color: gray(lighter),
    border-color-focus: blue(light),
    border-radius: border-radius(s),
    box-shadow: (inset 0 2px 2px gray(default, .15), 0 2px 2px black(.05)),
    mark-color: blue(),
    padding: .75em
)
