/// Black
$black: #000;

/// White
$white: #fff;

/// Red colors
$red: (
  lightest: #fcebec,
  lighter: #e69a9c,
  light: #f76b6e,
  default: #e83134,
  dark: #a32324,
  darker: #63010e,
  darkest: #3d0109,
);

/// Orange colors
$orange: (
  lightest: #ffe5ca,
  lighter: #f5b180,
  light: #e77636,
  default: #e14a0c,
  dark: #711f03,
  darker: #581902,
  darkest: #391102,
);

/// Yellow colors
$yellow: (
  lightest: #f7e8d4,
  lighter: #f7d1a1,
  light: #f6d169,
  default: #fbbd1a,
  dark: #b06f1c,
  darker: #734d00,
  darkest: #422c00,
);

/// Blue colors
$blue: (
  lightest: #e5f4f8,
  lighter: #a7dceb,
  light: #73c7de,
  default: #13869e,
  dark: #11727f,
  darker: #20365a,
  darkest: #262835,
);

/// Green colors
$green: (
  lightest: #e5e4d1,
  lighter: #d6d69d,
  light: #c8c969,
  default: #aaad00,
  dark: #82870e,
  darker: #40470d,
  darkest: #323520,
);

/// Gray colors
$gray: (
  lightest: #ededf5,
  lighter: #cdcdda,
  light: #adadbb,
  default: #ababbb,
  dark: #53575e,
  darker: #363c46,
  darkest: #1a1e25,
);

/// Text color
$text-color: #1a1e25;

/// link color
$link: (
  default: #13869e,
  hover: #13869e,
  active: #13869e,
  visited: #13869e
);

/// Social colors
$social-color: (
  twitter: #55acee,
  facebook: #3b5999,
  youtube: #cd201f,
  pinterest: #c92228,
  flickr: #ff0084
);

/// Susy grid settings
$susy: (
  global-box-sizing: border-box,
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: 1400px,
  container-position: center,
  columns: 12,
  gutters: 0,
  column-width: false,
  last-flow: to,
);

/// Breakpoint map, horizontal and vertical
$breakpoints: (
  xs: (max-width: 700px),
  s: (max-width: 900px),
  m: (max-width: 1000px),
  l: (max-width: 1280px),
  xl: (max-width: 1480px),
  s-v: (max-height: 640px),
  m-v: (max-height: 960px),
  l-v: (max-height: 1280px),
);

/// Z-indexes map, gathering all Z layers of the application
$z-indexes: (
  'modal': 5000,
  'toolbar': 2000,
  'fixed': 500,
  'above': 10,
  'default': 1,
  'below': -1,
);

/// Border radius map
$border-radius: (
  s: 3px,
  m: 7px,
  l: 15px,
  xl: 21px,
);

/// gutter settings
$gutter: (
  xs: 1em,
  s: 2em,
  m: 4em,
  l: 8em
);
