/// Font-families
$font-families: (
  sans: '-apple-system, "Segoe UI", sans-serif',
  fixed: 'Consolas, "courier new", courier, monospace',
  icons: 'fontello'
);


/// Font-weights
$font-weights: (
  thin: 100,
  light: 200,
  normal: 400,
  medium: 500,
  bold: 500,
  extrabold: 900,
);


/// Font-sizes
$font-sizes: (
    xxs: .65em,
    xs: .8em,
    s: .95em,
    default: 1em,
    m: 1.1em,
    l: 1.5em,
    xl: 2.1em,
    xxl: 2.8em,
);

/// Line-height
$line-height: 1.5;
