.menu {
    background: color($gray, lightest);
    margin-bottom: 2em;

    li {
        &.-active > a {
            color: color($gray, darker);
            font-weight: font-weight(extrabold);
        }
    }

    a {
        border-bottom: none;
        color: color($gray, dark);
        display: inline-block;

        &:hover {
            color: color($link);
        }
    }
}

.menu__circle {
    background-repeat: no-repeat;
    background-size: contain;

    &.-front {
        background-image: url('/favicon-32x32.png');
        display: inline-block;
        height: 1.5rem;
        margin-right: .15em;
        vertical-align: middle;
        width: 1.5rem;
    }
}

.menu__log-out {
    @include circle(1.5rem);

    background-color: $white;
    box-shadow: none !important;
    overflow: hidden;
    vertical-align: middle;
    padding: 0;
    color: color($gray, dark);

    &:hover {
        color: color($orange) !important;
        background-color: $white;
        filter: none;
    }
}


.menu__home {
    float: left;
    font-size: .85rem;
    padding: 1.5em 0;
    z-index: 2;
}

.menu__home__dashboard {
    margin-right: 1.5em;
}

.menu__home__front {
    padding-left: 1.5em;
}

.menu__home__front__protocol {
    color: color($gray, lighter);
    left: 0;
    padding-left: .35em;
    position: absolute;
    top: 0;
}

.menu__home__front__host,
.menu__home__front__protocol {
    @include mq(m) {
        display: none !important;
    }
}

.menu__user {
    @include mq(s) {
        text-align: right;
    }

    font-size: font-size(s);
    padding: 1.5em 0;
    text-align: right;

    ul {
        @include ul-horizontal;
    }

    li {
        @include mq(s) {
            font-size: .85em;
            padding: 0 .5em;
        }

        padding-left: 2em;
    }
}

.menu__groups {
    @include mq(m) {
        margin: 0 -4vw;
    }

    display: flex;
    font-size: font-size(s);
    overflow-x: auto;
    padding: 1em 0;
}

.menu__group {
    border-left: solid color($gray, lighter) 2px;
    display: block;
    flex-shrink: 0;
    font-weight: font-weight(medium);
    padding: 0 4em 0 1em;
    vertical-align: top;

    ul {
        @include ul-clean;
    }

    a {
        border-bottom: none;
        color: $text-color;
        display: inline-block;
        line-height: 1.7;

        &:hover {
            color: color($link);
        }
    }

    &:before {
        color: color($gray, light);
        content: attr(data-menu-group);
        display: block;
        font-size: .75em;
        font-weight: font-weight(extrabold);
        margin: 0 0 .25em 0;
        text-transform: uppercase;
    }
}

.menu__group__title {
    color: color($gray, light);
    font-size: .75em;
    font-weight: font-weight(extrabold);
    margin: 0 0 .25em 0;
    text-transform: uppercase;
}
