$red: (
    lightest: #fcebec,
    lighter: #e69a9c,
    light: #f76b6e,
    default: #e83134,
    dark: #a32324,
    darker: #63010e,
    darkest: #3d0109,
);
$orange: (
    lightest: #ffe5ca,
    lighter: #f5b180,
    light: #e77636,
    default: #e14a0c,
    dark: #711f03,
    darker: #581902,
    darkest: #391102,
);
$yellow: (
    lightest: #f7e8d4,
    lighter: #f7d1a1,
    light: #f6d169,
    default: #fbbd1a,
    dark: #b06f1c,
    darker: #734d00,
    darkest: #422c00,
);
$blue: (
    lightest: #e5f4f8,
    lighter: #a7dceb,
    light: #73c7de,
    default: #007593,
    dark: #11727f,
    darker: #20365a,
    darkest: #262835,
);
$green: (
    lightest: #cce9e5,
    lighter: #bfe3de,
    light: #a9d6d0,
    default: #5ebbae,
    dark: #40988c,
    darker: #287368,
    darkest: #13463f,
);
$gray: (
    lightest: #f5f5f6,
    lighter: #d8d8da,
    light: #b3b6be,
    default: #9699a1,
    dark: #676970,
    darker: #3c3c3c,
    darkest: #444,
);
$link: (
    default: #007593,
    hover: #008caa,
    active: #007593,
    visited: #007593
);
$black: #222;
$white: #fff;
$text-color: #222;
