@mixin block-reset {
    display: block !important;
    width: 100% !important;
    float: none !important;
    margin-right: 0 !important;
    margin-left: 0 !important;

    transform: none !important;
}

@mixin block-cover($position: absolute) {
    display: block;
    position: $position;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@mixin block-tag($color, $background-color) {
    display: inline-block;
    padding: 0 .25em;

    color: $color;
    background-color: $background-color;
    border-radius: border-radius(s);
}

@mixin block-clearfix {
    zoom: 1;

    &:before,
    &:after {
        content: '';

        display: table;
    }

    &:after {
        clear: both;
    }
}
