@mixin center($position: absolute) {
    position: $position;
    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);
}

@mixin center-horizontal($position: absolute) {
    position: $position;
    left: 50%;

    transform: translateX(-50%);
}

@mixin center-vertical($position: absolute) {
    position: $position;
    top: 50%;

    transform: translateY(-50%);
}
