@mixin list-horizontal {
    margin: 0;
    padding-left: 0;

    list-style: none;

    li {
        display: inline-block;
    }
}

@mixin list-clean {
    margin: 0;
    padding-left: 0;

    list-style: none;
}
