@mixin text-underline($color, $border-color: rgba($color, .25), $border-width: .08em) {
    color: $color;
    border-bottom: solid $border-width $border-color;

    text-decoration: none;

    transition: .3s color linear, .3s border-color linear;
}

@mixin text-underline-hover($color, $border-color: rgba($color, .75), $border-width: .08em) {
    &:hover {
        color: $color;
        border-bottom: solid $border-width $border-color;
    }
}

@mixin text-ellipsis {
    overflow: hidden;

    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin text-antialiasing($value: subpixel) {
    @if $value == subpixel {
        -webkit-font-smoothing: subpixel-antialiased;
    }
    @if $value == pixel {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}
