form{

  //variations
  &.-stacked{
  }
}


// Container for collection of label & input
.form_group{
  @extend .clearfix;
  padding: 0.75em 0;


  //variations
  &.-buttons{
    padding: 2em 0;
  }

  &.-media{
    padding: .75em;
    margin: 0.75em 0;
    background: lighten(color($gray, lightest) , 1%);
  }
}

.form_group_help{
  margin-top: 0.5em;
  font-size: font-size(s);
}



fieldset{
  border: 0;
  padding: .75em;
  margin: 0.75em 0;
  min-width: 0;
  background: lighten(color($gray, lightest) , 1%);

  //variations
  &.-info{
    background: rgba(color($blue, lightest) , .75);
  }

  //hacks
  body:not(:-moz-handler-blocked) & {
    display: table-cell;
  }
}


legend{
  display: table;
  text-transform: uppercase;
  text-align: left;
  color: rgba($black, 0.5);
  font-weight: font-weight(500);
  font-size: font-size(xs);
}


label{
  color: rgba($black, 0.5);
  font-weight: font-weight(500);
  font-size: font-size(s);

  //variations
  &.-invers{
    color: rgba($white, 0.5);
  }

  //context
  form.-stacked &{
    display: block;
    padding-bottom: .75em;
  }
}

.legend_lang,
.label_lang{
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  text-align: center;
  width: 2em;
  height: 2em;
  line-height: 1.8; //correction
  border-radius: 100%;
  font-size: font-size(xs);
  color: color($gray, light);
  background: $white;
  border: solid 1px color($gray, light);
  margin: 0 .35em;
  box-shadow: 0 3px rgba($black, 0.075);
}


//standard controls
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
  color: $text-color;
  font-weight: font-weight(normal);
  padding: 0 0.5em;
  height: 2.5em;
  display: inline-block;
  border: 2px solid color($gray, light);
  box-shadow: inset 0 3px rgba(color($gray), 0.15), 0 3px rgba($black, 0.075);
  border-radius: border-radius(s);
  vertical-align: middle;

  &:focus{
    outline: none;
    border: 2px solid color($blue, light);
  }

  //context
  form.-stacked & {
    width: 100%;
  }
}

[disabled]{
  background: transparent;
}

input[type="text"]{

  &.-datetime,
  form.-stacked &.-datetime{
    width: 8em;
  }
}


input[type="search"]{
  padding: 0 1em;
}

input[type="checkbox"],
input[type="radio"]{
  margin-right: 0.25em;
 font-size: 2rem;
}

textarea{
  padding: 0.5em;
  max-width: 100%;
}

textarea[data-autosize]{
  resize: none;
}
