.pagination{
  @include ul-horizontal();
  text-align: center;
  font-size: font-size(s);
  margin: 2em 0 1em 0;

  li{

    margin: 0.15em;

    &.disabled{
      color: color($gray);
    }

    &.active{
      font-weight: font-weight(extrabold);
    }

    span,
    a{
      display: inline-block;
      @include circle(2em);
      border: none;
    }

    a:hover{
      background-color: color($blue, lightest);
    }
  }
}