a.button {
  display: inline-block;
  line-height: input(height);
}

button,
.button {
  @include font-sans-medium;

  background-color: gray(light);
  border-color: transparent;
  border-radius: input(border-radius);
  border-style: solid;
  border-width: input(border-width) !important;
  color: white();
  min-height: input(height) !important;
  padding: 0 1em;
  transition: border-color .3s linear;
  vertical-align: middle;

  &:hover {
    border-color: gray(dark, .25);
    color: white();
  }

  &:focus {
    border-color: blue(light) !important;
    outline: 0;
  }

  &:active {
    transform: translateY(1px);
  }

  &.-blue {
    background-color: blue();

    &:hover {
      border-color: blue(darker, .25);
    }
  }

  &.-white {
    background-color: blue();
    color: white();

    &:hover {
      border-color: white();
    }
  }

  &.-blue-dark {
    background-color: blue(darkest, .5);

    &:hover {
      border-color: blue(darkest);
    }
  }

  &.-rounded {
    border-radius: input(height);
  }

  &.-stretch {
    width: 100%;
  }
}
