* {
  box-sizing: border-box;
  position: relative;
}

html {
  height: 100%;
}

body {
  @include antialiasing(pixel);
  @include font(sans, normal);
  color: $text-color;
  line-height: $line-height;
}

// Frequent used tags

h1,
h2,
h3 {
  //line-height: 1.3; //smaller line height for titles
  margin: 0;
  text-rendering: optimizeLegibility; 

  
  p + &,
  ul + &,
  ol + & {
    margin-bottom: gutter(s); //margin-top after a text block
  }

  a { //reset links in titles
    //color: inherit !important;
  }
}

h1 {
  @include font(sans, medium);
  @include font-size(xxl);

}

h2 {
  @include font(sans, medium);
  @include font-size(l);
  color: color($gray, darker);


}

h3 {
  @include font(sans, normal);
  margin-bottom: .5rem;
  word-break: break-word;

  & + p {
    margin-top: 0;
  }
}

h4 {
  @include font(sans, normal);
  margin: 0;
}

a {
  @include underline(color($link), color($gray));
}

p,
ul,
ol {
  line-height: $line-height;
  margin: 0;
  margin-bottom: gutter(s);

  p + & {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

strong,
b {
  font-weight: font-weight(bold);

  em,
  i,
  i &,
  em & {
    font-style: italic;
  }
}

ol,
ul {
  padding-left: 1.5em;

  & ul,
  & ol {
    margin-bottom: .5em;
  }
}

li {
  line-height: $line-height;
}

img,
object {
  max-width: 100%;
  width: 100%;
}

// Less used tags

abbr,
dfn {

  &[title] {
    border-bottom: 1px dotted color($gray);
    cursor: help;
  }
}

address {
  background: color($gray, light);
  display: inline-block;
  margin-bottom: 1.5em;
  padding: 1em;
}

blockquote {
  border-left: 1px solid color($gray);
  display: block;
  margin: 2rem 0 3rem;
  padding: 0 1rem;

  p {
    margin: 0;
  }
}

blockquote,
q {
  quotes: none;

  &:before,
  &:after {
    content: '';
  }
}

code,
kbd,
samp,
var {
  @include font(fixed, normal);
  background: color($gray, darkest);
  border-radius: border-radius(s);
  color: $white;
  display: inline-block;
  padding: .05em .5em;
}

del {
  text-decoration: line-through;
}

dt {
  font-weight: bold;
}

dd {
  border-bottom: dotted 1px color($gray, darkest);
  margin-bottom: .75em;
  padding-bottom: .75em;
}

em,
i,
q,
cite {
  font-style: italic;
}

ins,
mark {
  @include tag(color($yellow, darkest) , color($yellow, lightest));
  text-decoration: none;
}

pre {
  border-bottom: 1px dotted color($gray, darkest);
  border-top: 1px dotted color($gray, darkest);
  padding: 1.5em;
}

sub,
sup {
  line-height: 0;
  vertical-align: baseline;
}

sub {
  top: .5ex;
}

sup {
  bottom: 1ex;
}
