.\+auth {
  @include background-image-tinted('/images/auth-background.jpg' , rgba( color($blue,darkest), .75), top center);

  backdrop-filter: blur(10px);
  color: $white;
  min-height: 100vh;

  a:hover {
    color: $white;
  }
}

.\+auth_card {
  @include mq(s) {
    padding-top: 10vh;
  }

  padding-top: 15vh;
}

.\+auth_gravatar {
  filter: sepia(1) hue-rotate(170deg) saturate(.5);
  left: 50%;
  opacity: .25;
  position: absolute;
  top: -2em;
  transform: translateX(-50%);
}

.\+auth_logo {
  height: 1em;
  top: -.1em;
  vertical-align: middle;
  width: auto;
}

.\+auth_title {
  @include mq(s) {
    font-size: 8vw;
  }

  font-size: 4vw;
  font-weight: font-weight(thin);
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 10em;
  text-align: center;
  text-transform: uppercase;

  &.-small {
    font-size: font-size(l);
    max-width: none;
  }
}

.\+auth_form {
  background: rgba(color($blue,darkest) , .15);
  border-radius: border-radius(m);
  margin-left: auto;
  margin-right: auto;
  max-width: 32em;
  padding: 3em 6em;

  [disabled] {
    color: $white;
  }
}


.\+auth_lang {
  font-size: font-size(xs);
  position: fixed;
  right: 1em;
  top: 1em;
  z-index: z-index(toolbar);

  ul {
    @include ul_horizontal;
  }

  a {
    border-bottom: none;
    color: $white;
    padding: 0 .25em;
    text-transform: uppercase;
  }

  .active {
    font-weight: font-weight(bold);
  }
}

.\+auth_credit {
  bottom: 3px;
  color: $white;
  font-size: font-size(xs);
  font-weight: font-weight(medium);
  left: 3px;
  opacity: .15;
  position: fixed;
  transform: rotate(-90deg);
  transform-origin: 0 0 ;
  z-index: z-index(above);
}
