.alerts {
    margin: 2em 0;

    &.-fixed {
        margin: 0;
        opacity: .85;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: z-index(fixed);
    }
}


.alert {
    border-left: 5px solid;
    border-radius: border-radius(s);
    padding: 1em;
    z-index: z-index(above);

    //variations
    &.-small {
        font-size: font-size(s);
        padding: .75em;
    }

    &.-inline {
        display: inline-block;
    }

    &.-invers {
        background: rgba(color($blue, lightest) , .1);
        border-color: $white;
        color: $white;
    }

    &.-warning {
        background: color($orange,lightest);
        border-color: color($orange);
        color: color($orange);
    }

    &.-danger,
    &.-error {
        background: color($red, lightest);
        border-color: color($red,dark);
        color: color($red,dark);
    }

    &.-success {
        background: color($green, lightest);
        border-color: color($green, dark);
        color: color($green, dark);
    }

    &.-info {
        background: color($blue, lightest);
        border-color: color($blue);
        color: color($blue);
    }

    //context
    .form & {
        font-size: font-size(s);
        margin: .5em 0;
        padding: .65em 1em;
    }

    .alerts.-fixed & {
        border-radius: 0;
        border-left-width: 0;
        text-align: center;
    }
}
