button,
.button {
  background: color($green);
  border: transparent 1px solid;
  border-radius: border-radius(s);
  box-shadow: inset 0 -2px rgba($black, .15), 0 2px rgba($black, .075);
  color: $white;
  display: inline-block;
  filter: brightness(100%);
  font-weight: font-weight(bold);
  height: 2.5em;
  line-height: 2.5em;
  padding: 0 1.5em;
  vertical-align: middle;

  //state
  &:hover {
    color: $white;
    filter: brightness(95%);
  }

  &:active {
    border-color: transparent !important;
    box-shadow: inset 0 1px 0 rgba($black, .15);
    top: 1px;
  }

  &:focus {
    border-color: color($blue, light);
    outline: none;
  }


  //variations
  &.-small {
    font-size: font-size(s);
    height: 1.65em;
    line-height: 1.5em;
    padding: 0 .4em;
  }

  &.-warning {
    background: color($orange);
  }

  &.-danger {
    background: color($red, light);
  }

  &.-gray {
    background: color($gray, light);
  }

  &.-blue {
    background: color($blue, light);
  }

  //context
  & + & {
    margin-left: .5em;
  }
}
