input[type=radio],
input[type=checkbox] {
  -webkit-appearance: none !important;
     -moz-appearance: $white;
  border: 0;
  height: 1.5em;
  margin-right: .75em;
  vertical-align: middle;
  width: 1.5em;

  &:focus {
    outline: none;

    &:after {
      border: 2px solid color($gray);
    }
  }

  &:checked {
    &:before {
      transform: scale(1);
    }
  }

  &:after {
    background: $white;
    border: 2px solid color($gray, light);
    box-shadow: inset 0 3px color($gray, default, .15), 0 3px rgba($black, .05);
    content: '';
    height: 1.5em;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 1.5em;
  }

  &:before {
    position: absolute;
    transform: scale(0);
    transition: transform .1s;
    z-index: 2;
  }

  &[disabled] {
      &:after {
          box-shadow: none !important;
          border-color: transparent;
          background: rgba($text-color, .2);
      }
  }
}

input[type=checkbox] {
  &:after {
    border-radius: border-radius(s);
  }

  &:before {
    color: color($green);
    content: '\f00c'; //check
    font-family: font-family(icons);
    font-size: font-size(m);
    line-height: 1.5;
    text-align: center;
    width: 100%;
  }
}

input[type=radio] {
  &:after {
    border-radius: 100%;
  }

  &:before {
    background: color($green);
    border-radius: 100%;
    bottom: 6px;
    content: '';
    left: 6px;
    right: 6px;
    top: 6px;
  }
}
