
.locationpicker_map {
  border: 2px solid color($gray, light);
  border-radius: border-radius(s);
  box-shadow: 0 3px rgba($black, .075);
  height: 250px;
  margin: 1em 0;
  width: 100%;
}

.locationpicker_tools {
  font-size: font-size(s);
  margin-top: -2em;
}

.locationpicker_search {
  margin-right: .5em;
  width: 15em !important;
}
