.pagination {
    @include ul-horizontal();

    font-size: font-size(s);
    margin: 2em 0 1em 0;
    text-align: center;

    li {
        margin: .15em;

        &.disabled {
            color: color($gray);
        }

        &.active {
            font-weight: font-weight(extrabold);
        }

        span,
        a {
            @include circle(2em);

            border: none;
            display: inline-block;
        }

        a:hover {
            background-color: color($blue, lightest);
        }
    }
}
