//spatie parts plugin

.parts{
  @extend .clearfix;
  margin: 4em 0 2em 0;
  border: solid 2px color($gray, light);
  box-shadow: 0 3px rgba(34, 34, 34, 0.05);
  border-radius: border-radius(s);
  transition: transform 0.3s ease-out;
  font-size: font-size(s);
  background: lighten(color($gray, lightest) , 1%);

  label{
    background: $white;
    position: absolute;
    top: -2.35em;
    left: 0;
    border-radius: border-radius(m);
    background: transparent;
  }

  .dataTables_wrapper{
    margin: 0 !important;
  }

  .dataTable{
    margin: 0 !important;
    width: 100% !important;
  }
}

th.part_thumb{
  min-width: 4rem;
}

td.-edit{
  cursor: text !important;
  word-break: break-all;

  &:after{
    content: '\f040'; //pencil
    font-family: font-family(icons);
    font-size: font-size(s);
    margin-left: 0.5em;
    display: inline-block;
    vertical-align: middle;
    color: rgba(color($gray), .3);
  }

  &:focus{
    outline: solid 4px color($blue, light);
    &:after{
      display:none;
    }
  }
}

td.part_thumb{

  white-space: nowrap;

  div{
    vertical-align: middle;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: color($gray,dark);
    border-radius: border-radius(s);
    border: solid 1px color($gray, lighter);
  }
}
td.part_thumb.-download{
  div{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    color: color($gray,lightest);
    line-height: 3rem;
    overflow: hidden;
    font-weight: bold;
  }
}

.parts_new{
  position: relative;
  padding: 1em;
  font-size: font-size(xs);
  @extend .group;
  label{
    position:relative;
    top: 0;
    display: block;
    font-style: italic;
  }

  input{
    width: 100%;
  }
}

.-dropzone{
  background: color($blue, lightest);
  border-color: color($blue, light);
  border-style: dashed;
  opacity: 0.8;
  transform: scale(1.05);

  tr, td{
    background: color($blue, lightest) !important;
  }
}

.parts_alerts{
  .alert{
    margin: 0.5em 0;
    padding: 1em;
  }
}

.ui-autocomplete{
  position: relative;
  top: -3px !important;
  background: #fff;
  list-style: none;
  padding: 0px;
  border: 2px solid color($gray, light);
  border-radius: 3px;
  border-top-color: transparent;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.25);
  background: #fff;

  .ui-state-focus{
    font-weight: bold;
    background: color($blue, lightest);
  }

  li{
    display: block;
    padding: 10px 50px 10px 10px ;
    cursor: pointer;
    text-decoration: none;
    position: relative;
  }
}

.ui-helper-hidden-accessible{
  display: none;
}

.image_editor {
  display: none;
  overflow: auto;
  width: 90vw !important;
  max-height: 80vh !important;
  padding: 30px !important;
  margin: 0 !important;
  transform: translate(-50%, -50%);
}

.image_editor_title {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 28px;
}

.image_editor_preview {
  border: 3px solid color($gray, lighter);
  border-radius: 1px;

  .-has-metadata & {
      width: calc(100% - 380px);
      float: left;
  }
}

.image_editor_image {
  display: block;
  width: 100%;
}

.image_editor_options {
  width: 380px;
  padding-left: 30px;
  float: left;
  display: none;

  .-has-metadata & {
      display: block;
  }

  label,
  input,
  textarea {
    width: 100%;
    display: block;
  }
}

.image_editor_confirm {
  margin-top: 30px;

  .-has-metadata & {
    width: 100%;
    float: left;  
  }
}
