.progress {
  background-color: color($green, lightest);
  border-radius: 2em;
  height: 2em;
  overflow: hidden;
  width: 100%;
}


.progress_bar {
  background-color: color($green, light);
  border-bottom-left-radius: 1em;
  border-top-left-radius: 1em;
  height: 100%;
  transition: all .3s ease-in-out;
}

.-working {
  animation: bubble .6s infinite linear;
  border: solid 4px color($green, light);
  margin: 0 auto;
  width: 2em;

  .progress_bar {
    display: none;
  }
}

@keyframes bubble {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(1);
  }
}
