.status {
    font-size: font-size(xxs);

    &.-on {
        color: color($green);
    }

    &.-off {
        color: color($gray);
    }

    &.-space-left {
        margin-left: .5rem;
    }

    &.-space-right {
        margin-right: .5rem;
    }
}
