a.button {
    line-height: 2.5em;
}

button,
.button {
    font-weight: font-weight(bold);

    display: inline-block;
    height: 2.5em;
    padding: 0 1em;
    vertical-align: middle;

    color: $white;
    background: color($green);
    border: transparent 1px solid;
    border-radius: border-radius(s);
    box-shadow: inset -1px -1px rgba($black, .15), 0 2px rgba($black, .075);

    filter: brightness(100%);

    //state
    &:hover {
        color: $white;

        filter: brightness(95%);
    }

    &:active {
        top: 1px;

        border-color: transparent !important;
        box-shadow: inset 0 1px 0 rgba($black, .15);
    }

    &:focus {
        border-color: color($blue, light);
        outline: none;
    }


    //variations
    &.-small {
        font-size: font-size(s);
        line-height: 1.5em;

        height: 1.65em;
        padding: 0 .4em;
    }

    &.-warning {
        background: color($orange);
    }

    &.-danger {
        background: color($red, light);
    }

    &.-gray {
        background: color($gray, light);
    }

    &.-blue {
        background: color($blue, light);
    }

    //context
    & + & {
        margin-left: .5em;
    }
}
