.\:is-clickable {
  cursor: pointer;
}

.\:is-unselectable {
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.\:is-hidden {
  display: none !important;
  visibility: hidden;
}

.\:is-hidden-visually {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.\:is-invisible {
  visibility: hidden;
}
