/* Above */

&.h-above-s {
  @include mq-below(s) {
    display: none !important;
  }
}

&.h-above-m {
  @include mq-below(m) {
    display: none !important;
  }
}

&.h-above-l {
  @include mq-below(l) {
    display: none !important;
  }
}

/* Below */

&.h-below-s {
  @include mq-above(s) {
    display: none !important;
  }
}

&.h-below-m {
  @include mq-above(m) {
    display: none !important;
  }
}

&.h-below-l {
  @include mq-above(l) {
    display: none !important;
  }
}
