.h-hidden {
  display: none !important;
  visibility: hidden;
}

.h-hidden-invisible {
  visibility: hidden;
}

.h-hidden-invisible-fixed {
  position: fixed;
  visibility: hidden;
}

.h-hidden-transparent {
  opacity: 0;
}
