.h-interaction-clickable {
  cursor: pointer;
}

.h-interaction-unselectable {
   -khtml-user-select:      none;
  -webkit-user-select:      none;
     -moz-user-select: -moz-none;
      -ms-user-select:      none;
          user-select:      none;
}
