.\:padding {
    padding: gutter(m);
}

.\:padding-small {
    padding: gutter(s);
}

.\:padding-large {
    padding: gutter(l);
}

.\:padding-left {
    padding-left: gutter(m);
}

.\:padding-left-small {
    padding-left: gutter(s);
}

.\:padding-left-large {
    padding-left: gutter(l);
}

.\:padding-right {
    padding-right: gutter(m);
}

.\:padding-right-small {
    padding-right: gutter(s);
}

.\:padding-right-large {
    padding-right: gutter(l);
}

.\:padding-horizontal {
    padding-left: gutter(m);
    padding-right: gutter(m);
}

.\:padding-horizontal-small {
    padding-left: gutter(s);
    padding-right: gutter(s);
}

.\:padding-horizontal-large {
    padding-left: gutter(l);
    padding-right: gutter(l);
}

.\:padding-top {
    padding-top: gutter(m);
}

.\:padding-top-small {
    padding-top: gutter(s);
}

.\:padding-top-large {
    padding-top: gutter(l);
}

.\:padding-bottom {
    padding-bottom: gutter(m);
}

.\:padding-bottom-small {
    padding-bottom: gutter(s);
}

.\:padding-bottom-large {
    padding-bottom: gutter(l);
}

.\:padding-vertical {
    padding-bottom: gutter(m);
    padding-top: gutter(m);
}

.\:padding-vertical-small {
    padding-bottom: gutter(s);
    padding-top: gutter(s);
}

.\:padding-vertical-large {
    padding-bottom: gutter(l);
    padding-top: gutter(l);
}
