.h-padding {
  padding: gutter(default);
}

.h-padding-small {
  padding: gutter(s);
}

.h-padding-medium {
  padding: gutter(m);
}

.h-padding-large {
  padding: gutter(l);
}

.h-padding-left {
  padding-left: gutter(default);
}

.h-padding-left-small {
  padding-left: gutter(s);
}

.h-padding-left-medium {
  padding-left: gutter(m);
}

.h-padding-left-large {
  padding-left: gutter(l);
}

.h-padding-right {
  padding-right: gutter(default);
}

.h-padding-right-small {
  padding-right: gutter(s);
}

.h-padding-right-medium {
  padding-right: gutter(m);
}

.h-padding-right-large {
  padding-right: gutter(l);
}

.h-padding-horizontal {
  padding-left: gutter(default);
  padding-right: gutter(default);
}

.h-padding-horizontal-small {
  padding-left: gutter(s);
  padding-right: gutter(s);
}
.h-padding-horizontal-medium {
  padding-left: gutter(m);
  padding-right: gutter(m);
}

.h-padding-horizontal-large {
  padding-left: gutter(l);
  padding-right: gutter(l);
}

.h-padding-top {
  padding-top: gutter(default);
}

.h-padding-top-small {
  padding-top: gutter(s);
}

.h-padding-top-medium {
  padding-top: gutter(m);
}

.h-padding-top-large {
  padding-top: gutter(l);
}

.h-padding-bottom {
  padding-bottom: gutter(default);
}

.h-padding-bottom-small {
  padding-bottom: gutter(s);
}

.h-padding-bottom-medium {
  padding-bottom: gutter(m);
}

.h-padding-bottom-large {
  padding-bottom: gutter(l);
}

.h-padding-vertical {
  padding-bottom: gutter(default);
  padding-top: gutter(default);
}

.h-padding-vertical-small {
  padding-bottom: gutter(s);
  padding-top: gutter(s);
}

.h-padding-vertical-medium {
  padding-bottom: gutter(m);
  padding-top: gutter(m);
}

.h-padding-vertical-large {
  padding-bottom: gutter(l);
  padding-top: gutter(l);
}
