.h-text-small {
    font-size: font-size(s);
}

.h-text-large {
    font-size: font-size(l);
}

.h-text-uppercase {
    text-transform: uppercase;
}

.h-text-super {
    font-size: font-size(xs);

    top: -.35em;
}

.h-text-sub {
    font-size: font-size(xs);

    top: .35em;
}

.h-text-clean {
    border: 0;

    text-decoration: none;
    text-transform: none;
}

.h-text-ellipsis {
    @include text-ellipsis;
}

.h-text-hyphens {
    hypens: auto;
}

.h-text-no-hyphens {
    hypens: none;
}

.h-text-no-break {
    white-space: nowrap;
}
