@mixin mq($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  } @else {
    @media (#{$breakpoint})  {
      @content;
    }
  }
}

@mixin block-reset {
  width: 100% !important;
  display: block !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  float: none !important;
  transform: none !important;
}

@mixin position-center-horizontal($position: absolute) {
  position: $position;
  left: 50%;
  transform: translateX(-50%);
}

@mixin position-center-vertical($position: absolute) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}

@mixin position-center($position: absolute) {
  position: $position;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@mixin font($family: sans, $weight: normal) {
  font-weight: font-weight($weight);
  font-family: font-family($family);
}

@mixin font-size($size: default) {
  font-size: font-size($size);
}

@mixin underline($color,$border-color: $color) {
  color: $color;
  text-decoration: none;
  border-bottom: solid .125em rgba($border-color, .15);
  transition: .3s color linear, .3s border-color linear;
}

@mixin underline-hover($color,$border-color: $color) {
  &:hover {
    color: $color;
    border-bottom: solid .125em rgba($border-color, .5);
  }
}

@mixin hyphens($value: true) {
  @if $value == true {
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  @else {
    -moz-hyphens: none !important;
    -ms-hyphens: none !important;
    -webkit-hyphens: none !important;
    hyphens: none !important;
  }
}

@mixin antialiasing($value: subpixel) {
  @if $value == subpixel {
    -webkit-font-smoothing: subpixel-antialiased;
  }
  @if $value == pixel {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@mixin tag($color, $background-color, $paddingH: .5em, $paddingV: 0) {
  display: inline-block;
  color: $color;
  background-color: $background-color;
  border-radius: border-radius(s);
  padding: $paddingV $paddingH;
  margin-left: -$paddingH/2;
  margin-right: -$paddingH/2;
  transition: all .3s ease-out;
  @include font(display, normal);
  border-bottom: none;
}

@mixin ul-horizontal() {
  list-style: none;
  margin: 0;
  padding-left: 0;

  li {
    display: inline-block;
  }
}

@mixin ul-clean() {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

@mixin gradient-vertical($start, $stop, $from: 0%, $to: 100%) {
  background: $start; /* old browsers */
  background: -webkit-linear-gradient(top, $start $from,$stop $to); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, $start $from, $stop $to); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin gradient-horizontal($start, $stop, $from: 0%, $to: 100%) {
  background: $start; /* old browsers */
  background: -webkit-linear-gradient(left, $start $from,$stop $to); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $start $from, $stop $to); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin circle($size, $display: 'inline-block') {
  display: inline-block;
  width: $size;
  height: $size;
  line-height: $size;
  text-align: center;
  border-radius: 100%;
  overflow: hidden;
}

@mixin square($size, $display: 'inline-block') {
  display: inline-block;
  width: $size;
  height: $size;
  line-height: $size;
  text-align: center;
  overflow: hidden;
}

@mixin rectangle($aspect-ratio, $display: 'inline-block') {
  width: 100%;
  height: 0;
  display: block;
  padding-bottom: $aspect-ratio;
  overflow: hidden;
}

@mixin cover() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin background-svg($image, $background-position: center center, $background-size: contain, $background-repeat: no-repeat) {
  @include background-image($image, $background-position, $background-size, $background-repeat);
}

@mixin background-image($image, $background-position: center center, $background-size: contain, $background-repeat: no-repeat) {
  background-image: url('#{$image}');
  background-size: $background-size;
  background-position: $background-position;
  background-repeat: $background-repeat;
}

@mixin background-image-tinted($image,$rgba, $background-position: center center) {
  background:
  linear-gradient(
                  $rgba,
                  $rgba
  ),
  url('#{$image}');
  background-size: cover;
  background-position: $background-position;
}

@mixin prefixed-placeholder($pseudo:'') {

  @at-root #{$pseudo}::-webkit-input-placeholder {
    @content;
  }

  @at-root #{$pseudo}:-moz-placeholder {
    @content;
  }

  @at-root #{$pseudo}::-moz-placeholder {
    @content;
  }

  @at-root #{$pseudo}:-ms-input-placeholder {
    @content;
  }
}
