.menu {
    margin-bottom: 2em;

    background: color($gray, lightest);

    li {
        &.-active > a {
            font-weight: font-weight(extrabold);

            color: color($gray, darker);
        }
    }

    a {
        display: inline-block;

        color: color($gray, dark);
        border-bottom: none;

        &:hover {
            color: color($link);
        }
    }
}

.menu__circle {
    background-repeat: no-repeat;
    background-size: contain;

    &.-front {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: .15em;
        vertical-align: middle;

        background-image: url('/favicon-32x32.png');
    }
}

.menu__log-out {
    @include circle(1.5rem);

    padding: 0;
    overflow: hidden;
    vertical-align: middle;

    color: color($gray, dark);
    background-color: $white;
    box-shadow: none !important;

    &:hover {
        color: color($orange) !important;
        background-color: $white;

        filter: none;
    }
}


.menu__home {
    font-size: .85rem;

    float: left;
    padding: 1.5em 0;
    z-index: 2;
}

.menu__home__dashboard {
    margin-right: 1.5em;
}

.menu__home__front {
    padding-left: 1.5em;
}

.menu__home__front__protocol {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: .35em;

    color: color($gray, lighter);
}

.menu__home__front__host,
.menu__home__front__protocol {
    @include mq(m) {
        display: none !important;
    }
}

.menu__user {
    font-size: font-size(s);

    padding: 1.5em 0;

    text-align: right;

    @include mq(s) {
        text-align: right;
    }

    ul {
        @include ul-horizontal;
    }

    li {
        padding-left: 2em;

        @include mq(s) {
            font-size: .85em;

            padding: 0 .5em;
        }
    }
}

.menu__groups {
    font-size: font-size(s);

    display: flex;
    padding: 1em 0;
    overflow-x: auto;

    @include mq(m) {
        margin: 0 -4vw;
    }
}

.menu__group {
    font-weight: font-weight(medium);

    display: block;
    flex-shrink: 0;
    padding: 0 4em 0 1em;
    vertical-align: top;

    border-left: solid color($gray, lighter) 2px;

    ul {
        @include ul-clean;
    }

    a {
        line-height: 1.7;

        display: inline-block;

        color: $text-color;
        border-bottom: none;

        &:hover {
            color: color($link);
        }
    }

    &:before {
        content: attr(data-menu-group);

        font-size: .75em;
        font-weight: font-weight(extrabold);

        display: block;
        margin: 0 0 .25em 0;

        color: color($gray, light);

        text-transform: uppercase;
    }
}

.menu__group__title {
    font-size: .75em;
    font-weight: font-weight(extrabold);

    margin: 0 0 .25em 0;

    color: color($gray, light);

    text-transform: uppercase;
}
