.h-clickable {
    cursor: pointer;
}

.h-unselectable {
     -khtml-user-select:      none;
    -webkit-user-select:      none;
       -moz-user-select: -moz-none;
        -ms-user-select:      none;
            user-select:      none;
}

.h-hidden {
    display: none !important;
    visibility: hidden;
}

.h-hidden-visually {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.h-invisible {
    visibility: hidden;
}
