form {
    //variations


    &.-form-button {
        display: inline-block;
        vertical-align: middle;

        .alert & {
            margin: 0 1em;
        }
    }
}


// Container for collection of label & input
.form__group {
    @extend .clearfix;

    padding: .75em 0;


    //variations
    &.-buttons {
        margin: 1em 0;
    }

    &.-media {
        background: lighten(color($gray, lightest) , 1%);
        margin: .75em 0;
        padding: .75em;
    }
}

.form__group__help {
    font-size: font-size(s);
    margin-top: .5em;
}



fieldset {
    background: lighten(color($gray, lightest) , 1%);
    border: 0;
    margin: .75em -.75em;
    min-width: 0;
    padding: .75em;

    //variations
    &.-info {
        background: rgba(color($blue, lightest) , .6);
    }

    //hacks
    body:not(:-moz-handler-blocked) & {
        display: table-cell;
    }
}


legend {
    background: lighten(color($gray, lightest) , 1%);
    border-radius: 3px;
    color: color($gray);
    display: table;
    font-size: font-size(xs);
    font-weight: font-weight(500);
    padding: .5em 1em;
    text-align: left;
    text-transform: uppercase;
}


label {
    color: color($gray);
    font-size: font-size(default);

    //variations
    &.-invers {
        color: rgba($white, .5);
    }

    //context
    form.-stacked & {
        display: block;
        padding-bottom: .5em;
    }
}

.legend_lang,
.label_lang {
    background: $white;
    border: solid 1px color($gray, light);
    border-radius: 100%;
    box-shadow: 0 3px rgba($black, .075);
    color: color($green, dark);
    display: inline-block;
    font-size: font-size(xs);
    font-weight: font-weight(extrabold);
    height: 2em;
    line-height: 1.8; //correction
    margin: 0 .35em;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    width: 2em;
}


//standard controls
input[type='text'],
input[type='password'],
input[type='email'],
input[type='url'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='week'],
input[type='number'],
input[type='search'],
input[type='tel'],
input[type='color'],
select,
textarea {
    border: 2px solid color($gray, light);
    border-radius: border-radius(s);
    box-shadow: inset 0 2px rgba(color($gray), .15), 0 2px rgba($black, .075);
    color: $text-color;
    display: inline-block;
    font-weight: font-weight(normal);
    height: 2.5em;
    padding: 0 .5em;
    vertical-align: middle;

    &:focus {
        border: 2px solid color($blue, light);
        outline: none;
    }

    //context
    form.-stacked & {
        width: 100%;
    }
}

input[disabled] {
    box-shadow: none;
    color: $text-color;
    -webkit-opacity: 1;
    -webkit-text-fill-color: $text-color;

    label + & {
        margin-top: -.75em; // compensate for label bottom padding
    }
}

input[type='text'] {
    &.-datetime,
    form.-stacked &.-datetime {
        width: 8em;
    }
}


input[type='search'] {
    padding: 0 1em;
}

textarea {
    max-width: 100%;
    padding: .5em;
}

textarea[data-autosize] {
    resize: none;
}
