@include footer-is-fixed($height: 12em);

.footer{
  margin-top: 5em;
  padding: 6em 0;
  @include background-image-tinted('/images/auth-background.jpg' , rgba( color($blue,darkest), 0.75));
  color: $white;

  @include mq(s){
    text-align: center;
  }
}

.footer_status{
  font-size: font-size(s);
  margin: 0 1em;

  &:before{
    font-family: font-family(icons);
    display: inline-block;
    margin-right: 0.25em;

  }

  //variations
  &.-non-production {
    color: color($orange, light);

    &:before{
      content: "\f0ad";
    }

  }
  &.-production {
    color: color($green, light);

    &:before{
      content: "\f072";
    }
  }

}

.footer_version{
  text-align: right;
  font-size: font-size(s);

  @include mq(s){
    text-align: center;
  }
}

.footer_colofon{
  position: absolute;
  width: 100%;
  z-index: z-index(above);
  bottom: 0.5em;
  text-align: center;
  font-size: font-size(xs);
  color: rgba($white,0.25);

  a{
    color: inherit;
    text-decoration: none;
    border: none;
  }
}