* {
  box-sizing: border-box;
  position: relative;

  &:after,
  &:before {
    box-sizing: border-box;
  }
}

html {
  background: $white;
}

body {
  @include antialiasing(subpixel);
  @include font(sans, normal);
  @include mq(l) {
    font-size: font-size(default);
  }

  color: $text-color;
  font-size: 1.1rem; //scales everything on very large displays
  line-height: $line-height;
}

/* Frequent used tags */

h1,
h2,
h3 {
  @include hyphens(false);

  line-height: 1.2; //smaller line height for titles
  margin-top: 0;

  p + &,
  ul + &,
  ol + & {
    margin-top: 2em; //margin-top after a text block
  }

  a {
    border-color: transparent !important;
    //reset links in titles
    color: inherit !important;
  }
}

h1 {
  @include font(sans, extrabold);
  @include font-size(xl);
}

h2 {
  @include font(sans, light);
  @include font-size(l);

  text-transform: uppercase;
}

h3 {
  @include font(sans, bold);
  @include font-size(m);
}

a {
  border-bottom: solid 1px rgba( color($link, default) , .5) ;
  color: color($link, default);
  text-decoration: none;

  &:hover {
    color: color($link, hover);
  }
}

p,
ul,
ol {
  margin-bottom: $line-height;
  margin-top: 0;
}


strong,
b {
  font-weight: font-weight(bold);

  em,
  i,
  i &,
  em & {
    font-style: italic;
  }
}

ol,
ul {
  padding-left: 1.5em;

  & ul,
  & ol {
    margin-bottom: .5em;
  }
}

li {
  line-height: $line-height;
}

img,
object {
  max-width: 100%;
}


/* Less used tags */

abbr[title],
dfn[title] {
  border-bottom: 1px dotted color($gray);
  cursor: help;
}
address {
  background: color($gray,lightest);
  display: inline-block;
  margin-bottom: 1.5em;
  padding: 1em;
}
blockquote {
  display: inline-block;
  margin-bottom: 1.5em;
  padding: 1em;
  p {
    margin-bottom: 0;
  }
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

code,
kbd,
samp,
var {
  @include font(fixed, normal);

  background: color($gray, darkest);
  border-radius: border-radius(s);
  color: $white;
  display: inline-block;
  padding: .05em .5em;
}

del {
  text-decoration: line-through;
}

dt {
  font-weight: bold;
}

dd {
  border-bottom: dotted 1px color($gray, darkest);
  margin-bottom: .75em;
  padding-bottom: .75em;
}

em,
i,
q,
cite {
  font-style: italic;
}

hr {
  border-top: 1px solid color($gray, lighter);
  margin: 1em 0;
}

ins,
mark {
  @include tag( color($yellow, darkest) , color($yellow, lightest) );

  text-decoration: none;
}

pre {
  border-bottom: 1px dotted color($gray, darkest);
  border-top: 1px dotted color($gray, darkest);
  padding: 1.5em;
}

small {
  font-size: font-size(s);
}

sub,
sup {
  font-size: font-size(xs);
  line-height: 0;
  vertical-align: baseline;
}

sub {
  top: .5ex;
}

sup {
  bottom: 1ex;
}

time {
  @include tag( $text-color , color($yellow, lightest) );
}
