.menu{
    margin-bottom: 2em;
    background: color($gray, lightest);

    @include mq(s){
        text-align: center;
    }

    ul{
        @include ul-horizontal;
    }

    li{
        margin-bottom: 0;

        &.active a{
            font-weight: font-weight(extrabold);
            color: color($gray, darker);
        }
    }

    a{
        color: color($gray, dark);
        border-bottom: none;
        display: inline-block;

        &:hover{
            color: color($gray, darker);
        }
    }
}

.menu_brand{

    position: absolute;
    top: 3.2em;
    z-index: z-index(above);


    @include mq(s){
        top: 1em;
        position: relative;
        text-align: center;
    }
}


.menu_circle {

    background-size: contain;
    background-repeat: no-repeat;

    &.-log-out {
        @include circle(1.5rem);

        overflow: hidden;
        vertical-align: middle;
        background-color: $white;
        &:hover {
            color: color($orange) !important;
        }
    }

    &.-front{
        height: 1.5rem;
        width: 1.5rem;
        vertical-align: middle;
        display: inline-block;
        background-image: url('/favicon-32x32.png');
        margin-right: .5em;
    }
}

.menu_front{
    float: left;
    padding: 1.5em 0;
    font-size: 0.85rem;
    z-index: 2;
}


.menu_front_link{
    padding-right: 1.5em;
}

.menu_front_link_protocol{
    color: color($gray, lighter);
    padding-left: 0.35em;
    position: absolute;
    top: 0;
    right: 0;
}

.menu_front_link_host,
.menu_front_link_protocol{

    @include mq(m){
        display: none !important;
    }
}

.menu_user{
    padding: 1.5em 0;
    text-align: right;
    font-size: font-size(s);

    @include mq(s){
        text-align: right;
    }

    li{
        padding-left: 2em;

        @include mq(s){
            font-size: 0.85em;
            padding: 0 .5em;
        }
    }
}

.menu_main {

    font-weight: font-weight(bold);
    margin-top: 1em;

    @include mq(s){
        text-align: center;
    }

    li{
        font-size: font-size(s);
    }
}

.menu_groups {
    opacity: 0;

    .\$menu-ready & {
        opacity: 1;
    }
}

.menu_group{

    display: inline-block;
    margin-bottom: 1em;

    @include mq(m){
        float: none !important;
        margin-left: 0 !important;
    }

    @include mq(s){
        display: block;
        margin-bottom: .25em;

        ul{
            width: 100%;
        }
    }

    ul {
        display: inline-block;
        vertical-align: top;
        border-radius: border-radius(s);
        background-color: color($gray, lighter);
        padding: 0.25em 0em;
    }

    & + &{
        margin-left: 0.75em;
    }


    //variations
    &.-right{
        float: right;
    }

    &.-show-secondary {
        li {
            display: inline-block !important;
        }

        &:before {
            opacity: .35;
        }
    }



    &:before {
        content: '—' attr(data-menu-group) '—';
        @include position-center-horizontal();
        top: -1.75em;
        color: $text-color;
        font-size: font-size(xxs);
        text-transform: uppercase;
        opacity: 0;

        @include mq(s){
            display: none;
        }
    }
}

.menu_group_item {
    border-right: solid 2px darken(color($gray, lighter), 3%);

    @include mq(s){
        width: 100%;
    }

    &.active {
        display: inline-block !important;
    }

    &.-secondary {
        display: none;
    }

    &.-icon {
        opacity: .5;

        @include mq(s){
            width: auto;
            position: absolute;
            right: .25em;
            top: .25em;

            i{
                transform: rotate(90deg);
            }
        }

        a{
            padding: 0.25em .75em .25em .5em;
        }
    }

    &:last-child{
        border-right: none;
    }

    a{
        padding: 0.25em 1.25em;

        &:focus {
            outline: none;
        }
    }
}

.menu_tabs{
    margin-bottom: 3em;
    font-size: font-size(s);
    font-weight: font-weight(bold);

    @include mq(s){
        text-align: center;
    }

    ul{
        @include ul-horizontal;
        display: inline-block;
        vertical-align: top;
        border-radius: border-radius(s);
        background-color: color($gray, lighter);
        padding: 0.25em 0em;
    }

    li{
        margin-bottom: 0;
        border-right: solid 2px darken(color($gray, lighter), 3%);

        &:last-child{
            border-right: none;
        }

        &.active a{
            font-weight: font-weight(extrabold);
            color: color($gray, darker);
        }
    }

    a{
        color: color($gray, dark);
        border-bottom: none;
        display: inline-block;
        padding: 0.5em 1.75em;

        &:hover{
            color: color($gray, darker);
        }
    }
}
