.menu {
    background: color($gray, lightest);
    margin-bottom: 2em;

    li {
        &.-active > a {
            color: color($gray, darker);
            font-weight: font-weight(extrabold);
        }
    }

    a {
        border-bottom: none;
        color: color($gray, dark);
        display: inline-block;

        &:hover {
            color: color($link);
        }
    }
}

.menu_circle {
    background-repeat: no-repeat;
    background-size: contain;

    &.-log-out {
        @include circle(1.5rem);

        background-color: $white;
        overflow: hidden;
        vertical-align: middle;
        &:hover {
            color: color($orange) !important;
        }
    }

    &.-front {
        background-image: url('/favicon-32x32.png');
        display: inline-block;
        height: 1.5rem;
        margin-right: .15em;
        vertical-align: middle;
        width: 1.5rem;
    }
}

.menu_home {

    float: left;
    font-size: .85rem;
    padding: 1.5em 0;
    z-index: 2;
}

.menu_home_dashboard {
    margin-right: 1.5em;
}

.menu_home_front {
    padding-left: 1.5em;
}

.menu_home_front_protocol {
    color: color($gray, lighter);
    padding-left: .35em;
    position: absolute;
    left: 0;
    top: 0;
}

.menu_home_front_host,
.menu_home_front_protocol {
    @include mq(m) {
        display: none !important;
    }
}

.menu_user {
    @include mq(s) {
        text-align: right;
    }

    font-size: font-size(s);
    padding: 1.5em 0;
    text-align: right;

    ul {
        @include ul-horizontal;
    }

    li {
        @include mq(s) {
            font-size: .85em;
            padding: 0 .5em;
        }

        padding-left: 2em;
    }
}

.menu_groups {

   padding: 1em 0;
   font-size: font-size(s);
   display:flex;
   overflow-x: auto;



    @include mq(m){
       margin: 0 -4vw;
   }
}

.menu_group {

    display: block;
    flex-shrink: 0;
    vertical-align: top;
    padding: 0 4em 0 1em;
    border-left: solid color($gray, lighter) 2px;
    font-weight: font-weight(medium);

    ul {
        @include ul-clean;
    }

    a {
        border-bottom: none;
        color: $text-color;
        display: inline-block;
        line-height: 1.7;

        &:hover {
            color: color($link);
        }
    }

    &:before {
        content: attr(data-menu-group);
        font-weight: font-weight(extrabold);
        font-size: 0.75em;
        text-transform: uppercase;
        margin: 0 0 .25em 0;
        color: color($gray, light);
        display: block;

    }

}

.menu_group_title {
    font-weight: font-weight(extrabold);
    font-size: 0.75em;
    text-transform: uppercase;
    margin: 0 0 .25em 0;
    color: color($gray, light);
}



.menu_tabs {
    @include mq(s) {
        text-align: center;
    }

    font-size: font-size(s);
    font-weight: font-weight(bold);
    margin-bottom: 3em;

    ul {
        @include ul-horizontal;

        background-color: color($gray, lighter);
        border-radius: border-radius(s);
        display: inline-block;
        padding: .25em 0;
        vertical-align: top;
    }

    li {
        border-right: solid 2px darken(color($gray, lighter), 3%);
        margin-bottom: 0;

        &:last-child {
            border-right: none;
        }

        &.-active a {
            color: color($gray, darker);
            font-weight: font-weight(extrabold);
        }
    }

    a {
        border-bottom: none;
        color: color($gray, dark);
        display: inline-block;
        padding: .5em 1.75em;

        &:hover {
            color: color($gray, darker);
        }
    }
}
