.menu{
  margin-bottom: 2em;
  background: color($gray, lightest);

  @include mq(s){
    text-align: center;
  }

  ul{
    @include ul-horizontal;
  }

  li{
    margin-bottom: 0;

    &.active a{
      font-weight: font-weight(extrabold);
      color: color($gray, darker);
    }
  }

  a{
    color: color($gray, dark);
    border-bottom: none;
    display: inline-block;

    &:hover{
      color: color($gray, darker);
    }
  }
}

.menu_brand{


  position: absolute;
  top: 1.2em;
  z-index: z-index(above);


  @include mq(s){
    position: relative;
    text-align: center;
  }
}

.menu_brand_logo{
  width: 2em;
  height: auto;
  vertical-align: middle;

  @include mq(s){
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

}

.menu_brand_name{
  font-weight: font-weight(normal);
  text-transform: uppercase;
  border: none;
  color: color($blue, darkest);
  padding: 0 0.5em !important;

  @include mq(m){
    display: none !important;
  }
}

.menu_circle {

  background-size: contain;
  background-repeat: no-repeat;

  &.-log-out {
    @include circle(1.5rem);

    overflow: hidden;
    vertical-align: middle;
    background-color: $white;
    &:hover {
      color: color($orange) !important;
    }
  }

  &.-front{
    height: 1.5rem;
    width: 1.5rem;
    vertical-align: middle;
    display: inline-block;
    background-image: url('/favicon-32x32.png');
    margin-right: 0.5em;
  }
}

.menu_front-link{
  @include mq(s){
    display: none !important;
  }
}

.menu_front-link_protocol{
  color: color($gray, lighter);
  margin-right: 0.35em;
}


.menu_user{
  padding: 1.5em 0;
  text-align: right;
  font-size: font-size(s);

  @include mq(s){
    text-align: center;
  }

  li{
    padding-left: 2em;

    @include mq(s){
      padding: 0 1em;
    }
  }

}

.menu_main{

  font-weight: font-weight(bold);
  margin-top: 1em;

  @include mq(s){
    text-align: center;
  }

  li{
    font-size: font-size(s);
  }

}

.menu_group{

  display: inline-block;
  margin-bottom: 1em;

  @include mq(m){
    float: none !important;
    margin-left: 0 !important;
  }

  ul {
    display: inline-block;
    vertical-align: top;
    border-radius: border-radius(s);
    background-color: color($gray, lighter);
    padding: 0.25em 0em;
  }

  & + &{
    margin-left: 0.75em;
  }

  li{
    border-right: solid 2px darken(color($gray, lighter), 3%);

    &:last-child{
      border-right: none;
    }

    a{
      padding: 0.25em 1.75em;
    }
  }

  //variations
  &.-right{
    float: right;
  }

}
